[user]
  name = Ejay Ledesma
  email = 12439358+ejayledesma@users.noreply.github.com
  signingkey = 4A4DDEEB9AA53680
[core]
  editor = vim
[alias]
  tlog = log --all --graph --oneline
  co = checkout
  csm = commit -S -m
